/* This file is reserved for overriding and extending the template styles. */

/*
 * Logo Nav Uchuva
*/
html[data-color^=light-][data-navcolor=light] .logo .img-uchuva {
    background-image: url('../img/logo/logo-uchuva-light.svg') !important;
}
html[data-color^=dark-][data-navcolor=dark] .logo .img-uchuva {
    background-image: url('../img/logo/logo-uchuva-dark.svg') !important;
}
html[data-color^=light-][data-navcolor=dark] .logo .img-uchuva {
    background-image: url('../img/logo/logo-uchuva-dark.svg') !important;
}
html[data-color^=dark-][data-navcolor=light] .logo .img-uchuva {
    background-image: url('../img/logo/logo-uchuva-light.svg') !important;
}
html[data-color^=light-][data-navcolor=default] .logo .img-uchuva {
    background-image: url('../img/logo/uchuva-light.svg') !important;
}
html[data-color^=dark-][data-navcolor=default] .logo .img-uchuva {
    background-image: url('../img/logo/uchuva-light.svg') !important;
}
html[data-color^=light-] .logo .img-uchuva {
    background-image: url('../img/logo/uchuva-light.svg') !important;
}
html[data-color^=dark-] .logo .img-uchuva {
    background-image: url('../img/logo/uchuva-light.svg') !important;
}

/*
 * Logo Lobby Uchuva
 */
html[data-color^=light-] .logo-default.img-uchuva {
    background-image: url('../img/logo/logo-uchuva-light.svg') !important;
}
html[data-color^=dark-] .logo-default.img-uchuva {
    background-image: url('../img/logo/logo-uchuva-dark.svg') !important;
}
html[data-color=] .logo-default.img-uchuva {
    background-image: url('../img/logo/logo-uchuva-light.svg') !important;
}


/*
 * Loading start
 */
 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.load {
	width: 36px;
	height: 36px;
	margin: 0 auto;
	border:solid 4px rgba(0, 0, 0, .1);
	border-radius: 50%;
	border-left-color: var(--primary);

    animation: rotate 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    -webkit-animation: rotate 1s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}
/*
 * Loading End
 */


/*
 * DataTables Start
 */
.dataTables_scrollBody {
    height: fit-content !important;
}
/*
 * DataTables End
 */

input[type="file"] {
    display: none;
}


/*
 * New class
 */
.no-padding {
     padding: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.data-table-rows table.table-order tbody tr {
    box-shadow: none !important;
}
.table-order td {
    line-height: 1.5rem;
    padding: 0 !important;
}

.table-order tr:not(:first-child) td {
    padding-top: 2rem !important;
}
